@charset "utf-8";
.container header {
    background-color: #F4E0A3;
}
.container header nav {
    background-color: #E1D78B;
}
.container #hero {
    background-image: url(images/images.jpg);
    color: #000000;
}
.container #about {
    background-color: rgba(254,166,166,0.68);
    background-image: -webkit-linear-gradient(270deg,rgba(255,255,255,1.00) 0%,rgba(255,126,126,1.00) 55.13%,rgba(255,126,126,1.00) 55.13%,rgba(243,224,98,1.00) 100%,rgba(255,0,0,1.00) 100%);
    background-image: -moz-linear-gradient(270deg,rgba(255,255,255,1.00) 0%,rgba(255,126,126,1.00) 55.13%,rgba(255,126,126,1.00) 55.13%,rgba(243,224,98,1.00) 100%,rgba(255,0,0,1.00) 100%);
    background-image: -o-linear-gradient(270deg,rgba(255,255,255,1.00) 0%,rgba(255,126,126,1.00) 55.13%,rgba(255,126,126,1.00) 55.13%,rgba(243,224,98,1.00) 100%,rgba(255,0,0,1.00) 100%);
    background-image: linear-gradient(180deg,rgba(255,255,255,1.00) 0%,rgba(255,126,126,1.00) 55.13%,rgba(255,126,126,1.00) 55.13%,rgba(243,224,98,1.00) 100%,rgba(255,0,0,1.00) 100%);
}
.container #about .text_column {
    color: rgba(0,0,0,1.00);
}
footer .footer_column p {
    background-color: rgba(255,255,255,1.00);
}
footer .footer_column h3 {
    color: rgba(0,0,0,1.00);
}
.container .banner {
    background-image: url(images/images.jpg);
}
.container #contact {
    background-image: url(images/images.jpg);
}
.container .copyright {
    background-color: rgba(229,200,43,1.00);
}
.gallery .thumbnail .stats {
    color: rgba(0,0,0,1.00);
}
.gallery .thumbnail p {
    color: rgba(0,0,0,1.00);
}
